html,
body{
    background-color: $my-color-light;
    color: $my-color-dark;
    @include FontNunito();
    margin: 0;
    padding: 0;
    font-size: 16px;
    @media only screen and (max-width: 950px)  {
        font-size: 14px;
    }

    @media only screen and (max-width: 750px)  {
        font-size: 12px;
    }

    @media only screen and (max-width: 500px)  {
        font-size: 11px;
    }
}

strong{
    font-size: 1.2rem;
    font-weight: 900;
}

a{
  color: inherit;
  font-weight: 900;

  &:hover{
    color: #000;
    text-shadow: 1px 1px 1px #fff;
  }
  &:active{
    color: #000;
  }
}

.pct-container{
  width: 100vw;
  margin:  0 10vw;
  padding: 0 5vw 2rem 5vw;
  box-shadow: 0 7px 10px 0px #000;
  background: $my-color-light;

  @media only screen and (max-width: 750px)  {
    padding: 0 3vw 2rem 3vw;
}

  @media only screen and (max-width: 500px)  {
      margin:  0 7vw;
      padding: 0 2vw 2rem 2vw;
  }
}

.pct-flex-center{
  display: flex;
  justify-content: center;
}

.content figure{
  margin: 0 0 0 0!important;
}

.content-section{
  background: white;
  padding: 1vh 2vw;
}