// Colors

$color-ghost-white: #F4F4F9;
$color-xiketic: #0f0f1a;

// Colors Palette
$my-color-dark: $color-xiketic;
$my-color-light: $color-ghost-white;


$spice-krewe-purp: #4e3090;
$spice-krewe-blue: #0279cd;
